.Header {
    position: fixed;
    top: 0;
    display: flex;
    background-color: #C3CFD9;
    color: #E8833A;
    width: 100vw;
    height: 67px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    z-index: 100;
}
.Header img {
    width: 35px;
    position: fixed;
    left:5px;
    top:25px;
 }
 